.user-image__container {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: relative;
}

.user__image{
    width: inherit;
    height: inherit;
    clip-path: circle(49% at 50% 50%);
}




.user-image__container::before,
.user-image__container::after {
    content: "";
    position: absolute;
    inset: -0.2rem;
    background: linear-gradient(
            var(--gradient-angle),
            var(--clr-2) 6%,
            var(--clr-4) 60%,
            var(--clr-5) 90%
            );
    border-radius: inherit;
    animation: rotation 20s linear infinite;
    z-index: -1;
}

/* .user-image__container::after {
    filter: blur(50rem);
} */

@property --gradient-angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

@keyframes rotation {
    0% {
        --gradient-angle: 0deg;
    }

    100% {
        --gradient-angle: 360deg;
    }
}



