:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --clr-1: #caf0f8;
  --clr-2: #90e0ef;
  --clr-3: #00b4d8;
  --clr-4: #0077b6;
  --clr-5: #03045e;
  --primary: #3C4143;
  --secundary: linear-gradient(0deg, #CAF0F8, #CAF0F8), 
  linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2));
  
}